{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  
  <h1>Lista de Alunos</h1>

  <table>
    <thead>
      <tr>
        <th>Nomes</th>
        <th>Sexo</th>
        <th>Disciplina</th>
      </tr>
    </thead>
    <tbody>

      {% for al in aluno %}
        <tr>
          <td>{{ al }}</td>
          <td>{{ al.gender }}</td>
          <td>{{ al.discipline }}</td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>

  <br>

  <h2>Adicione um novo aluno na lista acima</h2>

  <form method="post">
    {% csrf_token %} 
    {{ forms }} 

    <input type="submit" value="Submit">
  </form>

</body>
</html>